{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <h2 class="fw-bold">{{ movie.title }}</h2>
    <p class="text-muted">Select Your Show Time</p>

    <div class="row mt-4">

        {% for show in shows %}

        <div class="col-md-3 mb-4">

            <div class="card shadow text-center p-3">

                <h4>{{ show.time }}</h4>

                <a href="{% url 'book' movie.id %}" class="btn btn-danger mt-3">
                    Select Seats
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}